# Traitement des données et fichiers Markdown
pyyaml
python-frontmatter

# API et Web
requests
wikipedia-api
feedparser

# Intelligence Artificielle (Mistral)
mistralai

# Traitement du langage (NLP) pour les liens
spacy

# Utilitaires
python-dotenv
tqdm
